@media (prefers-color-scheme: dark) {
    body {
          background-color:#1c1c1e;
          color: #fefefe;
      }
    p {
      color: #white;
      text-align: left;
      font-family: "Montserrat";
    }
    .t {
      color: #white;
      text-align: center;
      font-family: "Montserrat";
      font-size: 50px;
    }
    img {
      filter:grayscale(20%);
      width: 15%;
      height: auto;
      border: 10px solid transparent;
      padding: 15px;
    }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter:grayscale(20%);
    width: 15%;
    height: auto;
    }
}
